/* auth strart */
@media only screen and (max-width: 412px) {
  .auth-container {
    background-image: linear-gradient(to top, #202442, #354d9a) !important;
    background-position: right !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .login-container {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: inline-block !important;
  }

  .mp-lr-2m {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .reg-img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .reg-header {
    position: relative;
    display: flow-root;
  }

  .m-mt-5m {
    margin-top: 5em;
  }

  .m-mt-6m {
    margin-top: 6em;
  }

  .m-f-30 {
    font-size: 30px !important;
  }

  .p-x3m {
    padding-right: 2rem !important;
  }

  .custom-search-group {
    margin-left: unset !important;
  }

  .p-lrm-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .m-tpm-1m {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .mobile-float-left {
    float: left !important;
  }

  .m-mt-2m {
    margin-top: 2em;
  }

  .d-mr-3 {
    margin-right: 0 !important;
  }

  .m-mbtn-quote {
    margin: 4px 2px;
  }

  .ol-quotes-bc,
.m-mb-15 {
    margin-bottom: 15px !important;
  }

  .fc-header-toolbar {
    display: block !important;
  }
  .fc-header-toolbar .fc-center {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .fc-header-toolbar .fc-right {
    text-align: center;
  }
  .fc-header-toolbar .fc-right .fc-button-group button {
    min-width: 4em;
  }

  .fc-left {
    display: flow-root;
    width: 100%;
    text-align: center;
  }
  .fc-left .fc-button-group {
    position: absolute;
    left: 0;
    right: 0;
  }
  .fc-left .fc-button-group .fc-prev-button {
    position: absolute;
    left: 36px;
  }
  .fc-left .fc-button-group .fc-next-button {
    position: absolute;
    right: 36px;
  }

  .item-data-clients,
.item-data-colleagues,
.ganttview-vtheader-item-name,
.item-data-colleague {
    display: none;
  }

  .ganttview-vtheader-series,
.item-data-jobs {
    width: 100% !important;
  }

  .d-fr {
    float: unset !important;
  }

  .d-ta-r {
    text-align: unset !important;
  }

  .mw-200p {
    width: 100% !important;
  }

  .timline-list {
    margin-left: 2em !important;
  }

  .timline-list li {
    margin-right: 5px !important;
  }

  .error-container .error-content .content-media .img-error {
    width: 90%;
    top: 18em;
    position: absolute;
  }
  .error-container .error-content .content-media .error-header {
    font-size: 6em !important;
  }

  .step-indicator {
    padding-left: 30px !important;
  }

  .step-indicator li {
    display: flow-root !important;
    width: auto !important;
    border-left: 1px solid #cdcdcd;
  }
  .step-indicator li .step {
    display: table-cell !important;
    float: left !important;
    margin-bottom: 1em !important;
    margin-left: -33px !important;
  }
  .step-indicator li .caption {
    display: table-cell !important;
    float: left !important;
    margin-top: 10px !important;
  }
  .step-indicator li:last-child .step {
    margin-bottom: 0em !important;
  }
  .step-indicator li::after {
    display: none !important;
  }

  .formula-cotainer .formula-keyboard ul.ul-keyboard {
    display: contents !important;
  }
}
.btn-primary {
  background-color: #5080ff !important;
  border-color: #5080ff !important;
}

.btn-success {
  background-color: #40ce7c !important;
  border-color: #40ce7c !important;
  color: white;
}

.btn-orange {
  background-color: #ff8100 !important;
  border-color: #ff8100 !important;
  color: white !important;
}

.btn-chasable {
  background-color: #f75165 !important;
  border-color: #f75165 !important;
  color: white !important;
}

.btn-login {
  padding-left: 4em !important;
  padding-right: 4em !important;
  border-radius: 2em !important;
}

.border-login {
  border-top: 1px solid #cdcdcd40;
  border-bottom: 1px solid #cdcdcd40;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  margin-bottom: 2em;
  margin-top: 2em;
}

.btn-theme {
  border-radius: 2em !important;
}

.btn-dash-widget {
  min-width: 8em;
}

.btn-dark-blue {
  background-color: #282c51 !important;
  border-color: #282c51 !important;
  color: white !important;
  display: inline-block;
}

.btn-qouted {
  background-color: #4f7bff !important;
  border-color: #4f7bff !important;
  color: white !important;
}

.btn-invoice {
  background-color: #40ce7c !important;
  border-color: #40ce7c !important;
  color: white !important;
}

.btn-plr-1p5m {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.btn-radius {
  border-radius: 0.25rem !important;
}

.outline-plus {
  color: #40ce7c !important;
  border: 1px solid #40ce7c !important;
  border-radius: 50%;
  padding: 3px 3px;
  line-height: 1;
  font-size: 12px;
  font-weight: bolder;
}

.custom-icon {
  display: block;
  height: 1.40625rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-plus-circle {
  border: 2px solid !important;
  font-size: 12px !important;
  border-radius: 4em !important;
  height: 20px !important;
  width: 20px !important;
  padding: 3px !important;
}

.input-radius {
  border-radius: 0.25rem !important;
}

.icon-dgray {
  color: #7d7d7d !important;
}

.widget-icons {
  margin-right: 5px;
}

.icon-info {
  background-image: url("/custom/assets/icons/info.svg");
}

.icon-trash {
  background-image: url("/custom/assets/icons/trash.svg");
}

.icon-edit {
  background-image: url("/custom/assets/icons/edit.svg");
}

.plus-circle {
  border: 1px solid;
  border-radius: 50%;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
  z-index: 1;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}

.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}

.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}

.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}

.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}

.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}

.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.ribbon-danger span {
  background-color: #f75165 !important;
}

.ribbon-danger::before, .ribbon-danger::after {
  border-color: #902b47 !important;
  z-index: 0 !important;
}

.ribbon-default span {
  background-color: #282c51 !important;
}

.ribbon-default::before, .ribbon-default::after {
  border-color: #000000 !important;
  z-index: 0 !important;
}

.ribbon-primary span {
  background-color: #5080ff !important;
}

.ribbon-warning span {
  background-color: #e4c805 !important;
  color: #1e1d1d !important;
}

.ribbon-warning::before, .ribbon-warning::after {
  border-color: #ac9005 !important;
  z-index: 0 !important;
}

.ribbon-upward {
  background: #f75165;
  height: 87px;
  margin: 0 auto;
  position: absolute;
  width: 74px;
  right: 6em;
  text-align: center;
  vertical-align: middle;
  line-height: 87px;
  font-size: 35px;
  color: #f2f2f2;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}
.ribbon-upward span {
  position: absolute;
  left: 0;
  right: 0;
  top: 23px;
  bottom: 0;
  line-height: 1;
  margin: auto;
}

.ribbon-upward:after,
.ribbon-upward:before {
  content: "";
  position: absolute;
  border-bottom: 20px solid #f75165;
  height: 0;
  width: 0;
  bottom: 100%;
}

.ribbon-upward:after {
  border-left: 50px solid transparent;
  right: 0px;
}

.ribbon-upward:before {
  border-right: 50px solid transparent;
  left: 0px;
}

.border-danger-ribbon {
  border: solid #f75165 !important;
}

.custom-ribbon-award {
  font-size: 20px;
  position: relative;
  top: 6px;
  margin-left: 0px !important;
}

.sub-ribbon {
  display: inline-flex;
  padding: 2px 10px;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  right: 0;
  color: white;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  transform: rotate(45deg);
  /* Standard syntax */
  top: 55px;
  right: 45px;
  text-transform: uppercase;
}

.sub-ribbon-draft {
  background-color: #4f7bff;
}

.sub-ribbon-read {
  background-color: #40ce7c;
}

.sub-ribbon-sent {
  background-color: #ffc107;
  top: 60px;
}

.sub-ribbon-rejected {
  background-color: #dc3545;
  right: 33px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.error-container {
  background-image: linear-gradient(to right, #202442, #354d9a);
  top: 0;
  bottom: 0;
  width: 100%;
}
.error-container .error-content {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.error-container .error-content .content-media {
  display: contents;
}
.error-container .error-content .content-media .img-error {
  border-bottom: 1px solid #fff;
}
.error-container .error-content .content-media .error-header {
  color: white;
  position: absolute;
  font-size: 700%;
}
.error-container .error-content .content-media .error-mini-header {
  color: white;
  position: absolute;
  margin-top: -18em;
}
.error-container .error-content .content-media .content-text {
  position: absolute;
  margin-bottom: -20em;
}
.error-container .error-content .content-media .btn-go-home {
  position: absolute;
  margin-bottom: -27em;
}

body {
  font-family: Poppins, sans-serif !important;
  font-size: 20px;
}

.header-theme {
  background-color: #202342 !important;
}
.header-theme .c-header-toggler {
  color: rgba(255, 255, 255, 0.8) !important;
}

.c-sidebar-dark {
  background-color: #282c4f !important;
}
.c-sidebar-dark .c-sidebar-nav-link {
  background-color: #282c4f;
}
.c-sidebar-dark .c-sidebar-nav-link .c-active {
  background-color: #202342 !important;
}

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  background-color: #202342 !important;
}

.c-header-nav .c-header-nav-item a.c-header-nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.c-header-toggler-icon {
  background-image: url("/custom/assets/arrow-left.png") !important;
  background-size: 15px;
}

.auth-container {
  background-image: url("/custom/assets/background-transparent.png"), linear-gradient(to right, #202442, #354d9a);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-90p {
  width: 90%;
  height: auto;
  object-fit: contain;
}

.img-50p {
  width: 50%;
  height: auto;
  object-fit: contain;
}

@font-face {
  font-family: Poppins;
  src: url("/custom/fonts/poppins/Poppins-Regular.otf") format("opentype");
}
@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url("/custom/fonts/poppins/Poppins-Bold.otf") format("opentype");
}
@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url("/custom/fonts/poppins/Poppins-ExtraBold.otf") format("opentype");
}
.poppins-bold {
  font-family: Poppins, sans-serif;
}

.poppins {
  font-family: Poppins, sans-serif;
}

.poppins-bolder,
h2.poppins-bolder {
  font-family: Poppins, sans-serif;
  font-weight: bolder;
}

.color-theme {
  color: #1c213f !important;
}

a.color-orange {
  color: #ff8100 !important;
}

a.color-orange:hover {
  color: #ff8100 !important;
  cursor: pointer;
  text-decoration: none;
}

.login-container {
  width: 100%;
  max-width: 25em;
}

.forgot-password:hover {
  text-decoration: none;
  color: white !important;
}

.icon-active {
  color: #4d7bfd;
}

.bl-0 {
  border-left: 0px !important;
}

.br-10 {
  border-radius: 10px !important;
}

/* auth end */
body {
  font-family: Poppins, sans-serif;
}

.f-12 {
  font-size: 12px !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-grey:hover,
.text-grey:active {
  color: #68696a !important;
}

.text-grey {
  color: #6c757d !important;
}

.btn-grey {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: white !important;
}

.btn-grey:focus,
.btn-grey:hover,
.btn-grey:active,
.bg-grey {
  background-color: #68696a !important;
  border-color: #68696a !important;
  color: white !important;
}

.bg-lgrey {
  background-color: #f8f8fa !important;
}

.spinner-4m {
  margin: 4em auto !important;
}

.d-f {
  display: flex !important;
}

.mh-11m {
  min-height: 11em !important;
}

a.link-widgets,
a.link-widgets:hover,
a.link-widgets:visited,
a.link-widgets:focus {
  text-decoration: none !important;
  color: inherit !important;
}

.hide {
  display: none !important;
}

.modal-color-picker {
  list-style: none !important;
  padding-left: 0px;
}
.modal-color-picker .event-type,
.modal-color-picker .event-type-modal {
  width: 100%;
  min-width: 3em;
  border-radius: 5px;
  height: 1.75em;
  margin-bottom: 0.5em;
  color: white;
  text-align: center;
}
.modal-color-picker .event-type-modal {
  padding-top: 5px;
}
.modal-color-picker .event-type {
  padding-top: 2px;
}

.event-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.event-warning {
  background-color: #ffc107;
  border: 1px solid #ffc107;
}

.event-success {
  background-color: #28a745;
  border: 1px solid #28a745;
}

.event-danger {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.event-grey {
  background-color: #6c757d;
  border: 1px solid #6c757d;
}

.event-primary:hover,
.event-primary:active,
.event-primary:focus {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

.event-warning:hover,
.event-warning:active,
.event-warning:focus {
  background-color: #ba8b00;
  border: 1px solid #ba8b00;
}

.event-success:hover,
.event-success:active,
.event-success:focus {
  background-color: #19692c;
  border: 1px solid #19692c;
}

.event-danger:hover,
.event-danger:active,
.event-danger:focus {
  background-color: #a71d2a;
  border: 1px solid #a71d2a;
}

.event-grey:hover,
.event-grey:active,
.event-grey:focus {
  background-color: #68696a;
  border: 1px solid #68696a;
}

.event-widgets {
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  margin: 2px;
}
.event-widgets a {
  color: white;
}

.event-widgets:hover {
  cursor: pointer;
}

.widget-control {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
}

.select2-container--default .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 3px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: unset !important;
  margin-right: unset !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 0px !important;
}

.select2 {
  width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-right: unset !important;
  color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background-color: #3b8ee8 !important;
  cursor: pointer;
}

.calendar-warning {
  position: relative;
  display: block !important;
  margin-top: 5px;
  text-align: center;
}

.event-type,
.event-type-modal {
  display: block;
  text-align: center;
}

.mh-2p75m {
  min-height: 2.75em !important;
}

.f-11 {
  font-size: 11px;
}

.f-13 {
  font-size: 13px;
}

.bg-decline {
  font-weight: normal !important;
  text-decoration: line-through;
}

.notif-dropdown:hover,
.notif-dropdown:active {
  cursor: pointer !important;
  background-color: #cdcdcd !important;
}

.notif-dropdown {
  border-radius: 5px;
  display: flex !important;
  padding: 5px !important;
  min-width: 280px !important;
  padding-top: 5px !important;
}

.notif-dropdown:last {
  border-bottom: unset !important;
}

.plr-5rm {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.calendar-card-body {
  height: 17em;
  overflow-x: auto;
}

.calendar-card-lg {
  height: 21em;
  overflow-x: auto;
}

.m-auto {
  margin: auto;
}

.multiple-select-label {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0px;
  font-weight: unset !important;
}

ul.custom-tree {
  padding-left: 0px;
  list-style: none;
  position: relative;
}
ul.custom-tree li {
  border-left: 1px solid #cdcdcd;
  padding-left: 10px;
}
ul.custom-tree li:last-child:after {
  height: 16px;
  width: 5px;
  background-color: white;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
}
ul.custom-tree li:before {
  content: "";
  border-top: 1px solid #cdcdcd;
  width: 10px;
  position: absolute;
  margin-left: -11px;
  margin-top: 13px;
}
ul.custom-tree ul.tree-child {
  list-style: none;
  position: relative;
  padding-left: 5px;
}
ul.custom-tree ul.tree-child li:last-child:after {
  height: 16px;
  width: 5px;
  background-color: white;
  position: absolute;
  content: "";
  left: 2px;
  bottom: 0px;
}

.round-checkbox {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-top: -2px;
}

.round-checkbox:checked {
  background-color: gray;
}

#first_div {
  width: 90%;
  max-width: 600px;
  min-width: 340px;
  margin: 70px auto 0;
  color: #444;
}

#second_div {
  width: 90%;
  max-width: 600px;
  min-width: 340px;
  margin: 50px auto 0;
  background: #f3f3f3;
  border: 6px solid #eaeaea;
  padding: 20px 40px 40px;
  text-align: center;
  border-radius: 2px;
}

#third_div {
  width: 90%;
  max-width: 600px;
  min-width: 340px;
  margin: 30px auto 0;
}

#third_div small {
  float: right;
  color: #aaa;
  cursor: pointer;
  padding-top: 5px;
}

#third_div ul {
  padding-left: 12px;
  max-height: 200px;
  overflow: auto;
}

#third_div li {
  color: #777;
  font-size: 14px;
  line-height: normal;
  margin: 7px 0;
}

#third_div li em {
  display: inline-block;
  width: 130px;
  color: #555;
  font-style: normal;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6c757d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a.link-badge {
  background-color: #0056b3;
  color: white;
}

a.link-badge:hover {
  cursor: pointer;
  background-color: transparent;
}

.color-pallete {
  width: 2em !important;
  min-width: 2em !important;
}
.color-pallete .cil-check {
  line-height: unset !important;
  margin: auto;
}

.pallete-widget {
  float: left;
  margin-right: 10px;
}
.pallete-widget .event-color:hover {
  text-decoration: none !important;
}

.text-left {
  text-align: left !important;
}

.setting-pallete {
  padding: 0px 10px !important;
}

.setting-pallete:hover .action-pallete {
  color: white !important;
  text-decoration: none;
}

.event-type:hover,
.event-type-modal:hover {
  cursor: pointer;
}

.action-pallete {
  color: transparent !important;
  text-decoration: none !important;
  margin-left: 10px;
}

.notification-container {
  max-height: 40em;
  overflow: auto;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.bg-white {
  background-color: #fff !important;
}

.time-created {
  float: right;
  font-size: 11px;
  color: inherit;
}

.calendar-badge {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.mb-10p {
  margin-bottom: 10px;
}

.mb-3m {
  margin-bottom: 3em;
}

.mb-2m {
  margin-bottom: 2em;
}

.mt-10p {
  margin-top: 10px;
}

.timeline-description {
  font-style: italic;
  color: #3c3c3c;
}

.timline-person {
  color: #055a8c;
}

.f-bold {
  font-weight: bold;
}

.img-accreditation {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.color-white {
  color: white;
}

.color-red {
  color: red;
}

.timline-list {
  width: 100%;
}

.timline-list {
  list-style: none;
  border-left: solid 5px #cdcdcd69;
  margin-left: 3em;
  padding-left: 1em;
}
.timline-list li {
  margin-right: 10px;
}
.timline-list li .date-parent {
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  margin-left: -4em;
}
.timline-list li ul.child-list {
  margin-top: 1em;
  list-style: none;
  padding-left: 0px;
}
.timline-list li ul.child-list .timline-icon {
  float: left;
  margin-left: -36px;
  margin-top: 9px;
  border-radius: 4em;
  padding: 5px 10px;
}

.desktop,
.inline-block {
  display: inline-block;
}

.mobile {
  display: none;
}

.custom-search-group {
  max-width: 30em;
  display: flex;
}

.ml-1m {
  margin-left: 1em;
}

.ml-2m,
.d-ml-2m {
  margin-left: 2em;
}

.ml-10p {
  margin-left: 10px !important;
}

.ml-5p {
  margin-left: 5px !important;
}

.ml-12p {
  margin-left: 12px !important;
}

.c-main-custom {
  padding-top: 3em;
  padding-left: 2em;
}

.mr-10p {
  margin-right: 10px !important;
}

.mr-1em {
  margin-right: 1em !important;
}

.img-2m {
  width: 2em;
  height: 2em;
  object-fit: contain;
}

.lh-2 {
  line-height: 2;
}

.lh-3 {
  line-height: 3;
}

.bt-0 {
  border-top: 0px !important;
}

.mh-5m {
  min-height: 5em !important;
}

.mh-9m {
  min-height: 9em !important;
}

.mh-16m {
  min-height: 16em !important;
}

.span-t {
  color: white;
  background-color: #5080ff;
  padding: 10px 18px;
  border-radius: 50%;
}

.category-list {
  background-color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 6px;
}

.category-list:hover {
  text-decoration: none;
  cursor: pointer;
}

.view-all-categories {
  margin-top: 10px !important;
  display: inline-block !important;
  text-align: right !important;
}

.pt-1m {
  padding-top: 1em !important;
}

#supplier_list_filter,
#product_list_filter,
#form_list_filter,
#risk_list_filter,
#contact_list_filter,
#job_list_filter,
#quotes_table_filter,
#search_quote_filter,
#howto_list_filter,
.dataTables_filter {
  display: none;
}

.dataTable {
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
}
.dataTable thead th {
  border-bottom: 0px !important;
}
.dataTable tbody td {
  border-top: 0px !important;
}
.dataTable tbody td:first-child {
  border-top-left-radius: 15px;
}
.dataTable tbody td:last-child {
  border-top-right-radius: 15px;
}
.dataTable tbody td:first-child {
  border-bottom-left-radius: 15px;
}
.dataTable tbody td:last-child {
  border-bottom-right-radius: 15px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0px !important;
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: 2em;
  margin-bottom: 2em;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 15px !important;
}

table.dataTable tbody tr {
  background-color: #ffffff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: transparent !important;
  border: none !important;
  font-weight: bolder;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: transparent !important;
  color: #cdcdcd !important;
  border: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
  color: #3cd278 !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #3cd278 !important;
}

html:not([dir=rtl]) .custom-switch .custom-control-label::before {
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
}

.br-1 {
  border-right: 1px solid #dee2e6;
}

.custom-file-label::after {
  background-color: #5080ff !important;
  color: white !important;
  border-color: #5080ff !important;
}

.img-acc-widget,
.img-log-settings {
  width: 100%;
  height: 15em;
  object-fit: contain;
  object-position: center;
  border: none;
  margin: auto;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.img-100 {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-subs {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.subs-plan:first-child {
  border-top-left-radius: 15px;
}

.w-50 {
  width: 50% !important;
}

.ui-draggable-handle {
  cursor: move !important;
}

.ganttview-block-text {
  color: white !important;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.ganttview-hzheader-day {
  width: 50px !important;
}

.ganttview-grid-row-cell {
  width: 50px !important;
}

.ganttview-vtheader {
  width: 35% !important;
  margin-top: 0px !important;
}

.ganttview-slide-container {
  width: 65% !important;
}

.ganttview-vtheader-item-name {
  width: 30% !important;
  margin-left: 0.5em !important;
  line-height: 1.75 !important;
}

.ganttview-vtheader-series {
  width: 67%;
}
.ganttview-vtheader-series .item-data {
  width: 48%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.ganttview-vtheader-series-name {
  line-height: 1.75 !important;
}

.ganttview-vtheader-series-name,
.ganttview-vtheader-series-client {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.grant-main-header {
  line-height: 1.75;
  padding: 6px;
  padding-left: 0px;
  font-weight: bold;
}
.grant-main-header .item-data {
  width: 50%;
  padding-left: 6px;
}

.series-container {
  width: 100%;
  display: flow-root;
}

.ganttview-vtheader-item {
  border-top: 1px solid #d0d0d0 !important;
}

.ganttview-vtheader-item-name,
.ganttview-vtheader-series-name {
  border-top: 0px !important;
}

.ganttview-vtheader-series-client {
  height: 31px;
  border-top: 1px solid #d0d0d0;
  line-height: 16px;
  padding-left: 5px;
}

.grant-taggle {
  text-decoration: none !important;
  float: right;
}

.grant-details {
  margin-bottom: 26px;
  font-size: 15px;
  padding: 5px 10px;
  border: 1px dotted #7d7d7d;
  margin-right: 5px;
  float: left;
  width: 100%;
}

.task-buttons {
  float: right;
  color: white;
}

.task-buttons:hover,
.task-buttons:focus,
.task-buttons:visited {
  color: white;
  text-decoration: none;
  border: none;
}

.f-25 {
  font-size: 25px;
}

.f-20 {
  font-size: 20px !important;
}

.task-avatar {
  width: 25px;
  height: 25px;
  object-fit: contain;
  border: 1px solid;
  border-radius: 50%;
}

.task-avatar-container {
  display: contents;
}

.mt-2m {
  margin-top: 2em;
}

.hover-white:hover,
.hover-white:active,
.hover-white:focus {
  color: white !important;
}

.footer-widget {
  width: 100%;
  padding: 5px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.footer-widget .footer-icons {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
  display: flex;
}
.footer-widget .footer-icons li {
  float: left;
  margin: auto;
}
.footer-widget .footer-icons li a,
.footer-widget .footer-icons li a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: none;
}
.footer-widget .footer-icons li a:hover {
  color: white !important;
}

.widget-toggle {
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.widget-toggle i {
  margin: auto;
}

.widget-toggle:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.how-to-list {
  list-style: none;
  padding-left: 0px;
}
.how-to-list li a {
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  display: block;
  color: inherit;
}
.how-to-list li a,
.how-to-list li a:hover {
  text-decoration: none;
}
.how-to-list li:hover {
  cursor: pointer;
}

.no-decoration,
.no-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.delete-top-right {
  position: absolute;
  right: 5px;
  top: -7px;
}

div.ganttview-block-container {
  height: 31px !important;
}

.mw-200p {
  max-width: 200px !important;
}

.center-paginate nav {
  display: inline-block;
}

.delete-top-right {
  position: absolute;
  right: 5px;
  top: -7px;
}

.calendar-input-group .input-group-prepend .input-group-text {
  min-width: 50px !important;
  background-color: white !important;
}
.calendar-input-group .form-control {
  border-left: 0px !important;
}

.select2-container .select2-selection--single,
.select2-selection--multiple {
  min-height: 40px !important;
  border-color: #ced4da !important;
}

.select2-selection__choice__display {
  color: white !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-selection--multiple {
  min-height: 40px !important;
}

.event-type-grid {
  list-style: none !important;
  padding-left: 0px !important;
}
.event-type-grid li {
  float: left !important;
  margin-right: 10px !important;
}
.event-type-grid li a {
  display: flow-root;
}

.task-file .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
  display: inline-block;
}

.task-end-time {
  position: absolute;
  right: -5em;
  color: gray;
  font-size: 13px;
  font-family: Poppins, sans-serif;
  line-height: 2;
}

.task-start-time {
  position: absolute;
  left: -5em;
  color: gray;
  font-size: 13px;
  font-family: Poppins, sans-serif;
  line-height: 2;
}

.fit-screen {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 100% !important;
  z-index: 100000 !important;
  padding-top: 1em;
}
.fit-screen .fit-screen-child {
  width: 100% !important;
}

.grantt-header-icons {
  padding: 10px;
  border: 1px solid #9d9d9d;
  border-bottom: 0px;
  display: flow-root;
}

.img-25 {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.ganttChart-container {
  overflow: auto;
}

#ganttChart {
  width: 100% !important;
}

.grant-action {
  width: 3em;
  float: left;
}

.grantt-icon {
  text-decoration: none !important;
}

.grant-action-series {
  position: absolute;
  left: 13px;
}

.comment-container {
  max-height: 20em;
  overflow: auto;
}
.comment-container .comment-row {
  width: 100%;
  display: flow-root;
}
.comment-container .comment-row .sender-name {
  font-weight: bold;
  color: #535bd3;
  font-size: 11px;
}
.comment-container .comment-row .comment-ballon {
  margin-top: 5px;
  background: red;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 25em;
}
.comment-container .comment-row .comment-ballon-you {
  float: right;
  background-color: #b4cdff;
}
.comment-container .comment-row .comment-ballon-sender {
  float: left;
  background-color: #d8d8d8;
}
.comment-container .comment-row .comment-file {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.d-in-block {
  display: inline-block !important;
}

.mb-1m {
  margin-bottom: 1em !important;
}

.p-x3m {
  padding-left: 2rem !important;
}

.img-50px {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px !important;
}

.btn-remove-file {
  position: absolute;
  right: 6px;
  top: -6px;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 2px 3px;
  font-size: 12px;
}

.btn-remove-file:hover {
  cursor: pointer;
}

.fc-day-grid-event .fc-content {
  color: white;
}
.fc-day-grid-event .fc-content .calendar-warning {
  margin: auto;
  margin-top: 5px;
}

.fc-content {
  color: white;
}
.fc-content .calendar-warning {
  margin: auto;
  margin-top: 5px;
}

.getting-started-bg {
  color: white !important;
  background-color: #008538 !important;
}

.mobile-float-left {
  float: right;
}

.d-mr-3 {
  margin-right: 1rem;
}

.ol-quotes-bc {
  margin-bottom: -9px;
  margin-top: 2px;
}

.d-fr {
  float: right;
}

.m-mb-15 {
  margin-bottom: 0;
}

.d-ta-r {
  text-align: right;
}

.ganttview-hzheader-month {
  color: #000;
}

.overflow-auto {
  overflow: auto;
}

.cert-header {
  font-size: 2em;
  font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.d-fr {
  display: flow-root !important;
}

.job-cert-title {
  max-width: 90%;
  display: inline-block;
}

.img-logo-cert {
  width: 100%;
  height: auto;
  max-width: 125px;
  object-fit: contain;
}

.notif-avatar {
  width: 30px;
  float: left;
  place-self: flex-start;
}
.notif-avatar img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.notif-content {
  float: right;
  min-height: 30px;
  width: 100%;
  padding: 0px 3px;
  text-align: left;
  white-space: break-spaces;
}

.notif-time {
  float: right;
  font-size: 12px;
}

.badge-new-notif {
  top: 10px;
  background: red;
  color: white;
  padding: 2px 6px !important;
  float: right;
}

@font-face {
  font-family: "ico-custom-eye";
  src: url("../custom/fonts/customs/icomoon/ico-eye.eot");
  src: url("../custom/fonts/customs/icomoon/ico-eye.eot?#iefix") format("embedded-opentype"), url("../custom/fonts/customs/icomoon/ico-eye.ttf") format("truetype"), url("../custom/fonts/customs/icomoon/ico-eye.woff") format("woff"), url("../custom/fonts/customs/icomoon/ico-eye.svg#ico-eye") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class=ico-custom-eye], [class*=" ico-custom-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ico-custom-eye" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-custom-eye:before {
  content: "A";
}

.dashboard-timeline {
  font-size: 13px !important;
}
.dashboard-timeline .card {
  margin-bottom: 5px !important;
}
.dashboard-timeline .time-created {
  float: unset !important;
  position: relative !important;
  display: block !important;
  text-align: right !important;
}
.dashboard-timeline .cil-clock {
  display: none;
}

.dashboard-notif {
  font-size: 13px !important;
}
.dashboard-notif .notif-avatar img {
  width: 20px !important;
  height: 20px !important;
}
.dashboard-notif .notif-dropdown {
  min-width: unset !important;
  border-radius: 0.25rem !important;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.dashboard-notif .notif-dropdown:hover,
.dashboard-notif .notif-dropdown:active {
  background-color: unset !important;
  color: unset !important;
}
.dashboard-notif .notif-time {
  font-size: 11px !important;
}

.h-30m {
  height: 30em;
  overflow: auto;
  overflow-x: hidden;
}

.dashboard-task,
.dashboard-calendar {
  list-style: none !important;
  padding-left: 5px !important;
}
.dashboard-task li,
.dashboard-calendar li {
  margin: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282c4f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202342;
  cursor: pointer;
}

.dash-calendar-list {
  list-style: none;
  padding-left: 0px;
  border-left: 1px solid #e3e3e3 !important;
}
.dash-calendar-list li {
  margin: 5px;
}
.dash-calendar-list .bullett {
  display: inline-flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  place-self: flex-start;
  margin-right: 10px;
  margin-left: -10px;
}
.dash-calendar-list .content {
  display: inline-grid;
  width: 88%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #cdcdcd;
}
.dash-calendar-list .content .time-ago {
  font-size: 11px;
  text-align: right;
}

.no-style {
  list-style: none;
  padding-left: 0px;
}
.no-style li {
  margin: 5px 0px;
}

.mw-89 {
  min-width: 89px;
}

.minw-200p {
  min-width: 200px !important;
}

.table-gray tbody tr {
  background-color: #f8f8fa !important;
}

.table-white tbody tr {
  background-color: white !important;
}

#ticket_list_filter {
  display: none;
}

.f-120p {
  font-size: 120%;
}

label {
  font-weight: unset !important;
}

.fc-time {
  font-weight: unset !important;
}

th.fc-day-header {
  font-weight: unset !important;
}

.badge {
  font-weight: unset !important;
}

/* Generated by Glyphter (http://www.glyphter.com) on  Wed Apr 07 2021*/
@font-face {
  font-family: "custom-ribbon";
  src: url("fonts/ribbon.eot");
  src: url("fonts/ribbon.eot?#iefix") format("embedded-opentype"), url("fonts/ribbon.woff") format("woff"), url("fonts/ribbon.ttf") format("truetype"), url("fonts/ribbon.svg#ribbon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class=custom-ribbon]:before {
  display: inline-block;
  font-family: "custom-ribbon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-ribbon:before {
  content: "A";
}

.signature-input {
  width: 100%;
  height: 40px;
  object-fit: contain;
  border: 1px solid #ced4da;
}

.signature-pad {
  border: 1px solid #cdcdcd;
}

.nb-top {
  border-top: 0px !important;
}

.nb-bottom {
  border-bottom: 0px !important;
}

.formula-cotainer {
  width: 100%;
  border: 1px solid #cdcdcd;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.formula-cotainer .formula-header {
  border-bottom: 1px solid #cdcdcd;
  text-align: right;
  padding: 5px;
}
.formula-cotainer .formula-header .clear-formula {
  text-decoration: none;
  color: relative;
}
.formula-cotainer .formula-content {
  min-height: 5em;
  padding: 10px;
}
.formula-cotainer .formula-keyboard {
  background-color: white;
  padding: 20px;
  border-top: 1px solid #cdcdcd;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flow-root;
  text-align: center;
}
.formula-cotainer .formula-keyboard ul.ul-keyboard {
  list-style: none;
  display: inline-flex;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
}
.formula-cotainer .formula-keyboard ul.ul-keyboard li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.formula-cotainer .formula-keyboard ul.ul-keyboard li .keyboard {
  padding: 3px 7px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  min-width: 30px;
  text-align: center;
  cursor: pointer;
}
.formula-cotainer .formula-keyboard ul.ul-keyboard li .keyboard:hover {
  background-color: #f7f7f7;
}
.formula-cotainer .formula-keyboard ul.ul-keyboard li .long {
  min-width: 80px !important;
}
.formula-cotainer .formula-keyboard ul.ul-keyboard li .space {
  min-width: 180px !important;
}
.formula-cotainer .formula-keyboard .center-list {
  display: inline-block !important;
}

.d-fr {
  display: flow-root;
}

.time, .mins, .meridian {
  width: 45px !important;
}
.time .prev, .time .next, .mins .prev, .mins .next, .meridian .prev, .meridian .next {
  padding: 15px !important;
}
.time .timepicki-input, .mins .timepicki-input, .meridian .timepicki-input {
  font-size: 15px !important;
}

.percentage-div {
  background-color: #5080ff;
  border-radius: 5px;
  height: 10px;
}

.color-success {
  color: #40ce7c;
}

.mt-25p {
  margin-top: 25%;
}

.full-measurement .header {
  padding: 1em;
}
.full-measurement .header a {
  float: left !important;
}
.full-measurement .tools {
  width: 100%;
  background: white;
  display: inline-block;
}
.full-measurement .tools ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
}
.full-measurement .tools ul li {
  margin-bottom: 1em;
  float: left;
  margin-right: 1em;
}
.full-measurement .tools ul li a {
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
.full-measurement .canvas-body {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  min-height: 50em;
  padding-top: 1em;
}
.full-measurement .canvas-body .canvas-absolute {
  position: relative;
  width: 800px;
  height: 750px;
  display: flow-root;
  margin: auto;
  margin-top: 1em;
}
.full-measurement .settings-container {
  position: fixed;
  width: 25em;
  background-color: white;
  top: 25%;
  margin: auto;
  z-index: 99999;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #e4e4e4;
  padding: 1em;
  box-shadow: 1px 1px 12px 0px #e4e4e4;
  border-radius: 5px;
}
.full-measurement .settings-container .footer {
  margin-top: 2em;
  margin-bottom: 3em;
  border-top: 1px solid #cdcdcd;
  padding-top: 10px;
}

.canvas-files {
  padding-top: 2em;
}
.canvas-files .pdf-files {
  padding: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin-left: 1em;
  color: #67696c !important;
}
.canvas-files .pdf-files .file-icon {
  font-size: 2em;
}

#floating-windows {
  position: absolute;
  z-index: 9;
  left: 85%;
  background-color: #white;
  border: 1px solid #cdcdcd;
  text-align: center;
}
#floating-windows #floating-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
#floating-windows .floating-body {
  width: 200px;
  height: 125px;
  background-color: white;
  border: 1px solid #cdcdcd;
  padding: 10px;
}
#floating-windows .floating-body .white-bg {
  background-color: white !important;
}

.annotate-tools-container {
  background-color: white;
  padding: 5px;
  margin-bottom: 1em;
  box-shadow: 0 0 6px 0px #d7d7d7;
  display: inline-flex;
}
.annotate-tools-container .tool-ul {
  list-style: none;
  padding-left: 0;
  display: flow-root;
  margin-bottom: 0px;
}
.annotate-tools-container .tool-ul li {
  float: left;
  display: grid;
  margin: 5px;
  text-align: center;
}
.annotate-tools-container .tool-ul li .tool-icon {
  padding: 2px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  color: #525252;
  width: 40px;
  margin: auto;
}
.annotate-tools-container .tool-ul li span {
  color: #525252;
  font-size: small;
}

/*# sourceMappingURL=style.css.map */